/* * {
    border: 1px solid black;
} */
.container {
    height: 90vh;
}
.col-md-3 {
    background-color: white;
}
.gray {
    background-color: gray;
}
.lightgray {
    background-color: lightgray;
}
.maxwidth {
    max-width: 100%;
}