body {
    background-image: url(/home/xer/Documents/programming/bootcamp/day1/img/ronin.jpg);
}

.second_image {
    position: relative;
    left: 800px;
    top: 100px;
}

ul {
    height: 30px;
    width: 100%;
    background-color: lightsteelblue;
    margin: 0;
}