._header {
    border-bottom: 1px solid gray;
}
.yellow_bg {
    background-color: yellow;
}
.middle_text {
    text-align: center;
}
img {
    border: 4px solid orange;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.table_middle {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.middle {
    text-align: center;
    /* margin-left: auto;
    margin-right: auto;
    width: 50%; */
}

.red_box_title {
    color: red;
    border: 1px solid red;
}

td, tr, th {
    border: 1px solid black;
}