.checked {
	background-color: lightgray;
}
body {
	background-color: grey;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
}
.listTasks {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
}
.listTasks>div {
	width: 400px;
	background-image: linear-gradient(to bottom, white, white, lightblue);
	margin-bottom: -15px;
	border-radius: 20px 20px 0px 0px;
	overflow-wrap: break-word;
	text-align: center;
	z-index: 2;
}
.listTasks>div>p .listTasks>div>del>p {
	display: inline-block;
	max-width: 300px;
	float: left;
}
.listTasks>div>button, .listTasks>div>input {
	display: inline-block;
	float: right;
}
del {
	color: red;
}
